/* --- General --- */
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #1a2a4f;
    background-color: #ffffff;
}

body {
    margin: 0;
    background: white;
    font-family: 'Segoe UI', sans-serif;
}
/* Barra superior */
.top-bar {
    background: #27466d;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 27px 20px;
}
.search-box {
    display: flex;
    align-items: center;
    background: #e6e6e6;
    padding: 5px 10px;
    border-radius: 20px;
}
.search-box input {
    border: none;
    outline: none;
    background: transparent;
}
.nav-links {
    display: flex;
    gap: 25px;
    font-size: 14px;
}
.nav-links a {
    color: white;
    text-decoration: none;
}

/* Logo + menú inferior */
.middle-bar {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background: white;
}
.logo img {
    height: 70px;
}
.menu {
    background: #27466d;
    width: 100%;
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    gap: 40px;
    padding: 27px 0;
    padding-right: 15px;
    max-width: 800px;
    margin-top: 10px;
    margin-bottom: 10px;

}
.menu a {
    color: white;
    text-decoration: none;
    font-size: 15px;
}

/* Breadcrumb */
.breadcrumb {
    background: #27466d;
    color: white;
    padding: 15px 40px;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 8px;
}
.breadcrumb a {
    color: white;
    text-decoration: none;
}



/* --- Carrusel --- */
.carrusel {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 10px;
  margin-left: 360px;
  overflow: hidden;
  background-color: #628ecb;
  border-radius: 20px;
  padding: 2rem;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-item {
  min-width: 100%;
  flex-shrink: 0;
  text-align: center;
  background-color: #8aaee0;
  color: #fff;
  padding: 1rem;
  border-radius: 12px;
}

.carousel-item img {
  max-width: 300px;
  margin-bottom: 1rem;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  z-index: 10;
}

.arrow.left {
  left: 1rem;
}

.arrow.right {
  right: 1rem;
}


/* TARJETA DERECHA */
.big {
    width: 350px;
    padding: 25px;
    background-color: #426aa0;
    color: white;
    flex-direction: column;
    text-align: left;
    line-height: 1.4;
}

.big p {
    margin-bottom: 20px;
}

.btn {
    padding: 10px 25px;
    background-color: #cfd8e8;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}


/* --- Info --- */
.info {
    text-align: center;
    padding: 40px 80px;
}

.info h2 {
    color: #1a2a4f;
}

.info p {
    line-height: 1.5;
    margin-top: 20px;
    margin-bottom: 30px;
}

.secondary-btn {
    background-color: #cfd8e8;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

/* --- Video --- */
.video-section {
    display: flex;
    justify-content: center;
    padding: 30px;
}

.video-placeholder {
    width: 400px;
    height: 250px;
    background-color: #4863A0;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 40px;
}

/* --- Footer --- */
footer {
    background-color: #1a2a4f;
    color: white;
    padding: 30px 50px;
}

.footer-links {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.footer-links a {
    color: #cfd8e8;
    text-decoration: none;
    font-size: 14px;
}

.footer-bottom {
    text-align: center;
    font-size: 13px;
    border-top: 1px solid #3c4b73;
    padding-top: 10px;
}

